@using CarInsurance2.Models
@using CarInsurance2.Controllers

<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Application successfully processed.</h5>
        </div>
        <div class="card-body">

            <h3>Your insurance quote is: $@ViewBag.Quote per month</h3>


        </div>
    </div>
</div>